body {
    color: antiquewhite;
    background-color: black;
    max-width: 800px;
    margin: 0 auto;
    padding-bottom: 0%;
   
  }
  
  footer{
    bottom: 0;
    width:100%;
    padding-top: 5%;
    padding-bottom: 0%;
    
  }
  h1 {
    text-align:center;
    font-size: 1.7em;
    
  }
  
  h2 {
    font-size: 1.5em;
  }

  h3 {
    font-size: 1.3em;
  }
  hr {
   border:none;
   height: 2px;
   background-color:gray;
   margin: 10px 0;
   width:200vh;
  }
  ul, nav {
    text-align: left;
    list-style-type:none;
    margin: 0;
    padding:0;
    height: 100vh;
    width:25%;
    background-color:rgb(28, 28, 28);
    font-size: 1.1em;
    line-height: 1.5;
    position: fixed;
    left: 0;
    top:0;
    overflow: auto;
  }
  
  li {
    
    line-height: 1.5;
  }
 