
  
  html {
    font-family: sans-serif;
  }
  body {
    margin: 0;
    position:relative;
    height:80vh;
    background: linear-gradient(var(--bgcolor), var(--bgcolor2)); //var(--bgcolor);
  }
  .scoreboard {
    position: absolute;
    bottom:50px;
    left: 50%;
    
    background: rgba(0, 0, 0, 0.8);
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    width: 50%;
    justify-content: space-between;
    transform: translateX(-50%);
    display: flex;
    z-index:2
    
}


.team {
    
    align-items: center;
    font-weight: bold;
    display: flex;
}

.team-name {
    font-weight: bold;
    margin-right: 10px;
}

.score {
    font-size: 24px;
    background: blue;
    border-radius: 10px;
    padding: 5px 10px;
    font-weight: bold;
}


.game-info {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}
  
  .health-overlay{
    position:absolute;
    width:100%;
    top:-290px;
    left:0;
    height:50vh;
    background: url(../wa/img/health.png) no-repeat top center;
    z-index:2;
  }
  .fight-overlay{
    top:50%;
    position:absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height:40vh;
 
    background: url(../wa/img/fight.png) no-repeat center center;
    z-index: 2
    
  }
  img {
    top:50%;
    position:absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width:61%;
    height:80vh;
    z-index:1;
    background-size: contain;
  }
  
  :root {
    --bgcolor: #4e4c4c;
    --bgcolor2: #f70e0e;
    --movex: 100;
    --movey: 100;
    --opacity: .3;
    --speedx: 0.16;
    --speedy: 0.48;
  }
  
  .static-noise {
    
    position: absolute;
    inset: 0;
    background: url(https://i.ibb.co/77NfVB5/noise.png);
    opacity: var(--opacity);
    animation: static-noise-x calc(1s * var(--speedx)) steps(2, jump-start) infinite,
      static-noise-y calc(1s * var(--speedy)) steps(3, jump-start) infinite;
  }
  
  
    .static-noise {
      mix-blend-mode: multiply;
      opacity: var(--opacity);
    }
 
  @keyframes static-noise-x {
    100% {
      background-position-x: calc(1px * var(--movex));
    }
  }
  @keyframes static-noise-y {
    100% {
      background-position-y: calc(1px * var(--movey));
    }
  }
  
  
  /* body {
    display: grid;
    place-content: center;
    min-height: 100vh;
    
    font-family: sans-serif;
    &::before {
          position: absolute;
          inset: 0;
          z-index: -1;
          background: linear-gradient(var(--s2));
          filter: url(#dither);
          content: '';
      transform: scale(1.12);
      }
  }; */
