
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(12, 12, 12);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url(/wa/img/stars.jpg);
    background-size: contain;
}
h1 {

    color:rgb(9, 129, 222);
}
nav{
    height: 50vh;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    height:20px;
    background-color: rgb(215, 5, 152);
}
nav a{
    width:10vw;
    text-align: center;
    text-decoration: none;
    color:black;
    transition: background-color 0.7s;
}

nav a:hover {
    background-color:blueviolet;
    transition:background-color 0.5s ;
}
img{
    aspect-ratio:initial ;
    opacity:1;
}
.fade-text{
    width:300px;
    opacity:1;
    transition: opacity 2s ease-in-out;
    animation: fade 4s ease-in-out;
      
}
.fade{
    width:35%;
    opacity:1;
    transition: opacity 2s ease-in-out;
    animation: fade 4s ease-in-out;
    
    
}

@keyframes fade{
    0%{opacity: 0}
    100%{opacity:1}
}

.fade:hover {
    opacity:0;
    transition:opacity 3s ease-in-out;
}




#moon{
    background-color: rgb(230, 226, 241);
    width: 59px;
    height:60px;
    border-radius: 50%;
    position: absolute;
    left:5vw;
    top:50px;
}
.contain-eclipse {
    width: 66px;
    height:66px;
    border-radius: 50%;
    position: absolute;
    left:4.95vw;
    top:48px;
    /* border: 0.5px solid white; */
    overflow:hidden;
}

#eclipse {
    background-color: rgb(5, 4, 4);
    width: 65px;
    height:66px;
    border-radius: 50%;
    top: 0;
    left: 5vw;
    position:absolute;
    animation: eclipseMove 8s infinite ease-in-out;
}

@keyframes eclipseMove{
    0% {
        
        left: -4vw;
    }
    100% {
        
        left:4vw
    }
    
    
}
