html {
   
    
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(12, 12, 12);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url(/wa/img/stars.jpg);
    background-size: contain;
}
h1 {
    color:rgb(9, 129, 222);
}
nav{
    height: 50vh;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    height:20px;
    background-color: rgb(215, 5, 152);
}
nav a{
    width:10vw;
    text-align: center;
    text-decoration: none;
    color:black;
}


img{
    aspect-ratio:initial ;
    width:30vw;
    height: 30vh;
    
}
#moon{
    background-color: rgb(230, 226, 241);
    width: 60px;
    height:60px;
    border-radius: 50%;
    position: absolute;
    left:5vw;
    top:50px;
}
.contain-eclipse {
    width: 61px;
    height:61px;
    border-radius: 50%;
    position: absolute;
    left:42px;
    top:50px;
    /* border: 2px solid white; */
    overflow:hidden;
}

#eclipse {
    background-color: rgb(5, 4, 4);
    width: 61px;
    height:61px;
    border-radius: 50%;
    
    top: 0;
    left: 5vw;
    position:absolute;
    animation: eclipseMove 8s infinite ease-in-out;
}

@keyframes eclipseMove{
    0% {
        
        left: -8vw;
    }
    100% {
        
        left:8vw
    }
    
    
}
