
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(12, 12, 12);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url(/wa/img/stars.jpg);
    background-size: contain;
}
h1 {

    color:rgb(9, 129, 222);
}
nav{
    height: 50vh;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    height:20px;
    background-color: rgb(215, 5, 152);
}
nav a{
    width:10vw;
    text-align: center;
    text-decoration: none;
    color:black;
    transition: background-color 0.7s;
}

nav a:hover {
    background-color:blueviolet;
    transition:background-color 0.5s ;
}
img{
    
    aspect-ratio:initial ;
    opacity:1;
}
.fade-text{
    width:300px;
    opacity:1;
    transition: opacity 2s ease-in-out;
    animation: fade 4s ease-in-out;
      
}
.fade{
    width:35%;
    opacity:1;
    transition: opacity 2s ease-in-out;
    animation: fade 4s ease-in-out;
    
    
}

@keyframes fade{
    0%{opacity: 0}
    100%{opacity:1}
}

.fade:hover {
    opacity:0;
    transition:opacity 1s ease-in-out;
}




#moon{
    background-color: rgb(230, 226, 241);
    width: 59px;
    height:60px;
    border-radius: 50%;
    position: absolute;
    left:5vw;
    top:50px;
}
.contain-eclipse {
    width: 66px;
    height:66px;
    border-radius: 50%;
    position: absolute;
    left:4.95vw;
    top:48px;
    /* border: 0.5px solid white; */
    overflow:hidden;
}

#eclipse {
    background-color: rgb(5, 4, 4);
    width: 65px;
    height:66px;
    border-radius: 50%;
    top: 0;
    left: 5vw;
    position:absolute;
    animation: eclipseMove 8s infinite ease-in-out;
    
}

@media screen and (max-width:600px){
    #eclipse { 
    animation: eclipseMini 8s infinite ease-in-out;
    }
}
@keyframes eclipseMove{
            0% {
                
                transform:translateX(-240%)
            }
            100% {
                
                transform:translateX(50%)
            } 
        }

        @keyframes eclipseMini{
        0% {
            
            transform:translateX(-140%)
        }
        100% {
            transform:translateX(60%)
        } 
        }


body {
	/* min-height: 100vh; */
	display:flex;
	/* place-items: center; */
}
/* CONTAINS BOTH IMAGES */
.effect {
    display:flex;
    justify-content:center;
	max-width: 90vmin;
	max-height: 90vmin;
	position: relative;
}
	.effect img {
       aspect-ratio:auto;
		width: 37%;
}


@property --effectPos {
	syntax: "<percentage>";
	inherits: false;
	initial-value: 50%;
}
.filtered {
    display:flex;
    pointer-events:none;

    position:absolute;
    justify-content: center;
    display:flex;
	top:0;
	left: 31.5%;
	filter: blur(3px) contrast(1.5) hue-rotate(90deg);
	
/* 	HEIGHT OF THE REGION WHERE THE EFFECT TAKES PLACE */
	--height: 5%;
/* 	HEIGHT OF THE FALLOFF TOWARDS THE EFFECT NOT TAKING PLACE */
	--falloff: 10%;
/* 	TOTAL HEIGHT OF BOTH */
	--total: calc(var(--height) + var(--falloff));

/* 	STARTING POINT */
	--start: calc(var(--total) * -1);
/* 	END POINT */
	--end: calc( 100% + var(--total));
	
	-webkit-mask-image: linear-gradient(
		rgba(0, 0, 0, 0) calc(var(--effectPos) - var(--total)),
		rgba(0, 0, 0, 1) calc(var(--effectPos) - var(--height)),
		rgba(0, 0, 0, 1) calc(var(--effectPos) + var(--height)),
		rgba(0, 0, 0, 0) calc(var(--effectPos) + var(--total))
	);
	mask-image: linear-gradient(
		rgba(0, 0, 0, 0) calc(var(--effectPos) - var(--total)),
		rgba(0, 0, 0, 1) calc(var(--effectPos) - var(--height)),
		rgba(0, 0, 0, 1) calc(var(--effectPos) + var(--height)),
		rgba(0, 0, 0, 0) calc(var(--effectPos) + var(--total))
	);
	animation: maskingSlide 5s infinite;
}
@keyframes maskingSlide {
	0% {
		--effectPos: var(--start);
	}
	95% {
		--effectPos: var(--end);
	}
	100% {
		--effectPos: var(--end);
	}
}