h1 {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

body {
  margin-left:200px;
  /* width:calc(100% - 200px);  */
   display:flex;
   flex-direction:column;
    color: rgb(244, 243, 241);
   text-align:center;
    align-items: center;
    background-color: rgb(12, 12, 12);
    font-family:'Audiowide',sans-serif;
    background-image: url(/wa/img/stars.jpg);
    background-size:25%;
    background-repeat: repeat;
    overflow-x:hidden;
  }

.full-img {
  position: relative;
  display: block;
  width: 640px;
  height: 480px;
  object-fit: contain;
}
.displayed-img{
  width:100%;
  height:100%;
  object-fit: contain;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 640px;
  height: 480px;
  background-color: rgba(0,0,0,0);
}

button {
  border: 0;
  background: rgba(226, 128, 15, 0.6);
  text-shadow: 1px 1px 1px rgb(3, 3, 3);
  border: 1px solid #999;
  position: absolute;
  cursor: pointer;
  top: 2px;
  left: 2px;
  color:white;
  
}
button:hover{
  background-color:blueviolet;
    transition:background-color 0.5s ;
}

.thumb-bar img {
  display: block;
  width: 20%;
  height:100px;
  float: left;
  cursor: pointer;
  object-fit:cover;
}

