body {
    
    color: rgb(244, 243, 241);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(12, 12, 12);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* background-image: url(/wa/img/stars.jpg) ; */
    
    
  }
  date-time {
text-align: center;
font-weight: bold;
  }

repertoire {
   font: italic;
}



  footer{
    bottom: 0;
    width:100%;
    padding-top: 5%;
    padding-bottom: 0%;
    
  }
  h1 {
    text-align:center;
    font-size: 1.7em;
    
  }
  
  h2 {
    font-size: 1.5em;
  }

  h3 {
    font-size: 1.3em;
  }
  hr {
   border:none;
   height: 2px;
   background-color:gray;
   margin: 10px 0;
   width:200vh;
  }
  ul, nav {
    text-align: left;
    list-style-type:none;
    margin: 0;
    padding:10px;
    height: 100vh;
    width:425px;
    background-color:rgb(28, 28, 28);
    font-size: 1.1em;
    line-height: 1.2;
    position: fixed;
    left: 0;
    top:0;
    overflow: auto;
    
  }
 
  li {
    line-height: 1.5;
  }
  
 