body {
    
    color: rgb(244, 243, 241);
   text-align:center;
    align-items: center;
    background-color: rgb(12, 12, 12);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    background-image: url(/wa/img/stars.jpg);
    
    background-size:25%;
    background-repeat: repeat;
    
  }
  /* .who-what-where {

font-weight: bold;
white-space:pre-line;

  } */


  h1 {
    
    font-size: 1.7em;
    
  }
  
  h2 {
    font-size: 1.5em;
  }

  h3 {
    font-size: 1.3em;
  }
  
 .big-container{
display:grid;
grid-template-columns: 1fr;

 } 
 .the-children {
  position: relative;
  
  padding: 10px 20px;
  border-radius: 8px; 
  background-image: url(/wa/img/stars.jpg);
  background-size:25%;
  color: white; 
  margin: 10px;
  font-size: 20px;
  text-align: center;
 } 
 
 
 .concerts-org{
 
  display:grid;
  grid-template-columns:1fr 1fr 1fr 1fr;
  grid-template-rows:auto auto auto auto;
  align-items:center;
 }
 .concerts{
  /* border: 1px solid blue; */
  grid-column: 1/ span 4 ;
  grid-row:1;
  text-decoration: none;
  position: relative;
  
 }
 .conductor {
  font-weight:bold;
  /* border: 1px solid blue; */
  grid-column: 1/span 2 ;
  grid-row:2;
 }
 .location{
  font-weight:bold;
  /* border: 1px solid blue; */
  grid-column: 1/ span 2 ;
  grid-row:3;
 }
.rep{
  font-weight:bold;
  white-space:pre-line;
  /* border: 1px solid blue; */
  grid-column: 3/span 2;
  grid-row:2/ span 2;
 }
 .description{
  text-align:justify;
  /* border: 1px solid blue; */
  grid-column: 1/span 4;
  grid-row:4;
  position: relative;
  
 }
 
 nav{
  height: 50vh;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  height:20px;
  background-color: lightseagreen;
 }

 nav a{
  width:10vw;
  text-align: center;
  text-decoration: none;
  color:black;
  transition: background-color 0.7s;
  
 
}
nav a:hover {
  background-color:blueviolet;
  transition:background-color 0.5s ;
}

/* moving gradient */
.concerts::after {
  content: "";
  position: absolute;
  left: 0;
  
  bottom: -3px;
  width: 100%;
  height: 4px;
  background: linear-gradient(90deg, #ff00ff, #0000ff, #00ffff,#ff00ff);
  background-size: 300% 100%;
  animation: galaxy-gradient 5s infinite linear ;
  mask-image: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
 
}
.description::after {
  content: "";
  position: absolute;
  top:0;
  bottom: -3px;
  width: 100%;
  height: 4px;
  background: linear-gradient(90deg, #00ffff,#ff00ff, #0000ff, #00ffff);
  background-size: 300% 100%;
  animation: galaxy-gradient 5s infinite linear ;
  mask-image: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
 
}
/* gradient border */
.the-children::before {
  content: "";
  position: absolute;
  inset:-3px;
  border-radius: 10px;
  background: linear-gradient(90deg, #ff00ff, #0000ff, #00ffff,#ff00ff);
  background-size: 200% 100%;
  /* animation: galaxy-gradient 5s infinite linear ; */
  z-index:-1;
  filter:drop-shadow(0 0 2px #f5f9f9) drop-shadow(0 0 12px #00ffff) drop-shadow(0 0 15px #ff00ff);
  /* mask-image: linear-gradient(90deg, transparent, white 20%, white 80%, transparent); */
}



@keyframes galaxy-gradient {
  0% { background-position: 0% 50%; }
  
  /* 50%{ background-position: 100% 50%; } */
  
  100% { background-position: 150% 50%; }
}