/* .megrim-regular {
  font-family: "Megrim", system-ui;
  font-weight: 400;
  font-style: normal;
} */

.audiowide-regular {
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  margin-left:200px;
  /* width:calc(100% - 200px);  */
   display:flex;
   flex-direction:column;
    color: rgb(244, 243, 241);
   text-align:center;
    align-items: center;
    background-color: rgb(12, 12, 12);
    font-family:'Audiowide',sans-serif;
    
    background-image: url(/wa/img/stars.jpg);
    
    background-size:25%;
    background-repeat: repeat;
    overflow-x:hidden;
  }
 

  nav{
   
 background: linear-gradient(180deg,#00ffff,#0000ff, #8205f0);
    width:200px;
    align-content:center;
    font-size :1.4em;
    height:50vh;
    top:0px;
    left:0;
    position:fixed;
    /* font-size:1em; */
    /* z-index:10; */
    display:flex;
    justify-content:center;
   }
   nav ul{
    
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
   /* justify-items:center; */
   
   
    width:100%;
   
    list-style: none;
    padding:0;
    margin:0;
  }
  
   nav li{
    
    
   flex:1;
   }
   nav a{
    
    /* border:solid red; */
    display:block;
    text-decoration: none;
   height:5vh;
   line-height: 50px;
    color:rgb(248, 242, 242);
    transition: background-color 0.5s;
   justify-content: center;
   align-items: center;
  }
  nav a:hover {
    background-color:#8205f0;
    
    transition:background-color 0.7s ease-in-out ;
  }

  h1 {
    
    font-size: 3rem;
    
  }
  
  h2 {
    font-size: 1.9rem;
  }

  h3, .rep-size {
    font-size: 1.7rem;
   
  }
  h1, h2, h3 {
    font-family: "megrim";
    width:100%;
    /* text-align:center; */
  }
  a{
  text-decoration: none;

  }
 .big-container{
 
 width:100%;
display:grid;
grid-template-columns: 1fr;
justify-items:center;

 } 
 .the-children {
  position: relative;
  max-width:800px;
  width:85%;
  padding: 10px 20px;
  border-radius: 8px; 
  background-image: url(/wa/img/stars.jpg);
  background-size:25%;
  color: white; 
  margin: 20px;
  /* font-size: 20px; */
  text-align: center;
  /* margin-top:2.6vw; */
  /* margin-left:auto;
  margin-right:auto; */
 } 
 
 .the-children:hover {
transform:translateY(-5px);

background: linear-gradient(90deg, #8205f0, #0000ff, #00ffff,#8205f0);

background-size: 300% 100%;
/* animation: galaxy-gradient 5s infinite  ; */
/* transition: linear-gradient 0.7s ease-in-out; */
 }
 .concerts-org{
 
  display:grid;
  grid-template-columns:1fr 1fr 1fr 1fr;
  grid-template-rows:auto auto auto auto;
  align-items:center;
 }
 .concerts{
  /* border: 1px solid blue; */
  grid-column: 1/ span 4 ;
  grid-row:1;
  text-decoration: none;
  position: relative;
  
 }
 .date-time{
  font-size:1.4em;
 }

 .conductor, .location, .rep{
  text-align:left;
 }
 .conductor h3::after,.location h3::after{
  content: "";
  position: absolute;
  left: 15px;
 margin-top:35px;

  width: 40%;
  height: 4px;
  background: linear-gradient(90deg, #0000ff, #00ffff,#8205f0,#0000ff);
  background-size: 300% 100%;
  animation: galaxy-gradient 5s infinite linear ;
  mask-image: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
 
 }
 .rep-size::after{
  content: "";
  position: absolute;
  
  width: 40%;
  height: 4px;
  background: linear-gradient(90deg, #0000ff, #00ffff,#8205f0,#0000ff);
  background-size: 300% 100%;
  animation: galaxy-gradient 5s infinite linear ;
  mask-image: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
 
 }
 .conductor {
  text-align:left;
  white-space:pre-line;
  font-weight:bold;
  /* border: 1px solid blue; */
  grid-column: 1/span 2 ;
  grid-row:2;
  font-size:1.4rem;
 }
 .location{
  white-space:pre-line;
  font-weight:bold;
  /* border: 1px solid blue; */
  grid-column: 1/ span 2 ;
  grid-row:3;
  font-size:1.4rem;
 }
.rep{
  align-self:start;
  font-size:1.2rem;
  font-weight:bold;
  white-space:pre-line;
  /* border: 1px solid blue; */
  grid-column: 3/span 2;
  grid-row:2/ span 2;
  margin-left:20px;
 margin-top:0;
 
 }
 .rep-size{
  font-family: "megrim";
  /* font-size:1.4rem; */
 }
 .description{
  text-align:left;
  /* border: 1px solid blue; */
  grid-column: 1/span 4;
  grid-row:4;
  position: relative;
  font-size:1.2em
 }
 .notes{
  
  text-align:center;
  position:relative;
 }
 .warning{
  margin-top:20px;
  color:#8205f0
 }


/* moving gradient */
.concerts::after {
  content: "";
  position: absolute;
  left: 0;
  
  bottom: -15px;
  width: 100%;
  height: 4px;
  background: linear-gradient(90deg, #8205f0, #0000ff, #00ffff,#8205f0);
  background-size: 300% 100%;
  animation: galaxy-gradient 5s infinite linear ;
  mask-image: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
 
}

.notes::before {
  content: "";
  position:absolute;
  left: 0;
  top:-12px;
  width: 100%;
  height: 4px;
  background: linear-gradient(90deg, #8205f0, #0000ff, #00ffff,#8205f0);
  background-size: 300% 100%;
  animation: galaxy-gradient 5s infinite linear ;
  mask-image: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
 
}
.description::after {
  content: "";
  position: absolute;
  top:10px;
  bottom: 0px;
  width: 100%;
  height: 4px;
  background: linear-gradient(90deg, #8205f0, #0000ff, #00ffff,#8205f0);
  background-size: 300% 100%;
  animation: galaxy-gradient 5s infinite linear ;
  animation-delay: .7s;
  mask-image: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
 
}
/* gradient border */
.the-children::before {
  content: "";
  position: absolute;
  inset:-3px;
  border-radius: 10px;
  background: linear-gradient(90deg, #8205f0, #0000ff, #00ffff,#8205f0);
  background-size: 200% 100%;
  /* animation: galaxy-gradient 5s infinite linear ; */
  z-index:-1;
  filter:drop-shadow(0 0 2px #f5f9f9) drop-shadow(0 0 12px #00ffff) drop-shadow(0 0 30px #8205f0);
  /* mask-image: linear-gradient(90deg, transparent, white 20%, white 80%, transparent); */
}

footer{
  display:flex;
  position:relative;
  justify-content: center;
 align-items:center;
  text-align:center;
  margin-left:-200px;
  margin-top:40px;
  bottom:0;
  width:100vw;
  
  padding: 10px 0;
  background-size: 300% 100%;
  background:linear-gradient(90deg,  #8205f0, #0000ff, #00ffff);
  animation: galaxy-gradient 10s infinite linear;
  height:50px;
 
}
.footer-content{
  
  margin-top:0;
  width:auto;
  text-align:center;
 padding: 0 20px;
}

@keyframes galaxy-gradient {
  0% { background-position: 0% 50%; }
  
  /* 50%{ background-position: 100% 50%; } */
  
  100% { background-position: 150% 50%; }
}
@media(max-width:600px) {
  /* [id] {
    scroll-margin-top:50px;
  } */
  html, body{
    max-width:100%;
    margin-left:0;
    
  }
  nav{
    background: linear-gradient(90deg,#00ffff,#0000ff, #8205f0);
    position:sticky;
    top:0;
   width:100%;
   height:50px;
   
   font-size:2vw;
   z-index:10;
  }
  nav ul {
    flex-direction:row;
  overflow-x:auto;
  scrollbar-width:none;
    height:50px;

}


nav li {
  /* border:solid red; */
 font-size:2em;
  
}

nav a {
    white-space: nowrap; 
    padding: 0 15px; 
    line-height:50px;
    height: 100%;
    
}
.the-children{
  width:85%;
}
.rep{
  margin-left:20px;
  margin-top:-5px;
}
.big-container{
  margin:0;
}
.the-children{
  width:85%;
}
.description{
  margin-top:-35px;
}
footer{
  max-width:100%;
  overflow-x:hidden;
  height:auto;
  margin-left:0;
  margin-right:0;
  padding:20px;
  font-size:1.1rem;
  width:100%;
}
.conductor, .location, .rep{
  font-size:1.4rem;
}
.conductor h3, .location h3,.rep-size{
  font-size:28px;
}
.rep{
  font-size:1rem;
}
}
